# --------------
# SERVER
# --------------
NODE_ENV=development #(development, production)
HOST=http://localhost
PORT=3001
PUBLIC_URL=
ALLOWED_PROD_ORIGINS=["http://localhost:3000"]
ALLOWED_DEV_ORIGINS=["http://localhost:3000"]

# --------------
# DATABASE
# --------------
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_URI=mongodb+srv://<username>:<password>@cluster0.lcdkjiz.mongodb.net/<database>?retryWrites=true&w=majority&appName=Cluster0

# --------------
# BCRYPT
# --------------
SALT_ROUNDS=3

# --------------
# JSON WEB TOKEN
# --------------
JWT_ACCESS_SECRET="secret"
JWT_ACCESS_EXPIRES_IN="1h"
JWT_REFRESH_SECRET="secret"
JWT_REFRESH_EXPIRES_IN="1d"

# --------------
# COOKIES
# -------------- 
COOKIE_MAX_AGE=3600000 #miliseconds 

# --------------
# EMAILING
# --------------
MAILER_EMAIL="email@prueba.com"
MAILER_PASSWORD="123456"